{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}
    <form method = "post" action = "{{ url }}" name = "buyplan">
        {% for key,value in fields %}
            <input type = "hidden" name = "{{ key }}" value = "{{ value }}" />
        {% endfor %}
        <script>
            window.onload = function () {
                document.forms['buyplan'].submit()
            }
        </script>
        <input type = "submit" value = "Pay via BuyPlan" class = "buyplan" />
    </form>
{% endblock %}